.header-display-img{
    height: 100%;
    width: 100%;
}

.logo {
    background-color: #ffffff;;
    text-align: center;
}


.mat-tab-nav-bar, .mat-tab-header {
    border-bottom: none !important;
}

.contact-icon {
    color :#757575;
    font-size: 35px;
}

.contact-info{
    color: #2e2e2a;
    font-size: 20px;
    padding: 15px;
}
.mat-menu-content {
    height: 200px !important;
}

.title {
    font-family: "Brush Script MT", cursive; 
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px;
}