.img{      
    margin:6px 6px;      
    border: 4px solid #eee;      
    box-shadow:rgb(224, 199, 199) 1px 1px 8px 1px;      
    cursor: pointer;
    height: 600px; 
    width:600px;
      
       }      
       
   ul { padding:0; width:100%; margin:20px auto;padding-right: 100px;}      
   li { display:inline;}  