

<!-- <img class="header-display-img" src="assets/images/babys.jpg"> -->
<div style="display:block;"
[style.width]="width">
<sy-slideshow #slideshow
        [imageUrls]="imageUrls"
        [height]="height"
        [minHeight]="minHeight"
        [arrowSize]="arrowSize"
        [showArrows]="showArrows"
        [disableSwiping]="disableSwiping"
        [autoPlay]="autoPlay"
        [stopAutoPlayOnSlide]="stopAutoPlayOnSlide"
        [debug]="debug"
        [backgroundSize]="backgroundSize"
        [backgroundPosition]="backgroundPosition"
        [backgroundRepeat]="backgroundRepeat"
        [showDots]="showDots"
        [dotColor]="dotColor"
        [showCaptions]="showCaptions"
        [captionColor]="captionColor"
        [captionBackground]="captionBackground"
        [lazyLoad]="lazyLoad"
        [hideOnNoSlides]="hideOnNoSlides"
        [fullscreen]="fullscreen"
        [enableZoom]="enableZoom"
        [enablePan]="enablePan"
        [noLoop]="noLoop">
</sy-slideshow>
</div>